@use '../../../styles/_variables.scss' as *;

.item {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 2rem 1rem 0.25rem 1rem;
  border-radius: 0.75rem;
  background: var(--item-background-color);
  border: 2px solid transparent;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.08);

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: var(--hover-color);
  }

  &:hover .actionCheckbox {
    visibility: visible;
  }

  &.actionCheckboxVisible {
    border: 2px solid var(--item-check-color);
  }

  progress {
    width: 100%;
    visibility: hidden; // доделать прогресс бар при удалении попозже
  }
}

.itemContent {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  box-sizing: border-box;
  position: relative;

  &:hover .actionCheckbox {
    visibility: visible;
  }
}

.itemDone {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: var(--done-item);
}

.actionCheckbox {
  appearance: none;
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 4px;
  margin-right: 0.75rem;
  border: 2px solid #c7c7c7;
  background-color: transparent;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
  visibility: hidden;
  box-sizing: border-box;

  &:checked {
    background-color: #2962ff;
    border: none;
  }

  &:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 8px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.buttons {
  display: flex;
  gap: 1rem;

  button:nth-child(1) {
    background-color: #18be7c;
  }

  button:nth-child(2) {
    background-color: #f73939;
  }

  button {
    border: none;
    background: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
    opacity: 0.9;

    &.itemDone {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }
  }
}
