:root {
  --bg-color: #ffffff;
  --text-color: black;
  --input-bg-color: #f5f5f5;
  --button-bg-color: white;
  --add-button-text-color: white;
  --accent-color: #0871e7;
  --placeholder-text-color: #5a5655;
  --hover-color: white;
  --done-item: #999;
  --item-background-color: #fcfcfc;
  --theme-icon-bg: #f5f5f5;
  --item-check-color: #625f5b;
}

[data-theme='dark'] {
  --bg-color: black;
  --text-color: white;
  --input-bg-color: #1c1d1c;
  --button-bg-color: black;
  --add-button-text-color: white;
  --accent-color: #0871e7;
  --placeholder-text-color: #5a5655;
  --hover-color: darkgray;
  --done-item: #999;
  --item-background-color: #1c1d1c;
  --theme-icon-bg: #1c1d1c;
  --item-check-color: white;
}
