@use "../../../styles/_variables.scss" as *;

.loginAndThemeControlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;

  .themeSwitcher {
    border: none;
    background: var(--theme-icon-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  .login{
    border: none;
    background: none;
    color: var(--accent-color);
  }

  button {
    &:active {
      transform: scale(0.95);
    }
    &:focus{
      outline: none;
    }
  }
}

